/* ---- CABEÇALHO ---- */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 3rem 2rem 3rem;
    background-color: white;
    align-items: center;
}

.header-logo{
    width: 150px;
    height: 40px;
}

.header-menu{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.person-circle-outline{
    font-size: 25px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
}

.nav-item-ativo {
    text-decoration: none;
    pointer-events: none;
    font-weight: 700;
    height: 100%;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    color: #6305A5;
}

.nav-item-inativo {
    font-weight: 400;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    color: #000;
    display: flex;
    justify-content: center;
}

.dropdown-menu {
    width: 100%;
    border-radius: 15px !important;
    padding: 0 !important;
    -webkit-box-shadow: 2px 3px 10px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 3px 10px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

.person-circle-outline {
    font-size: 30px;
    color: #777777;
}

#dropdownMenuButton {
    background-color: transparent !important;
    color: black;
    border-color: #777777 !important;
}

.button-account {
    display: flex !important;
    align-items: center !important;
    width: 100%;
    gap: 1rem;
    background-color: #FFF !important;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-right: 20px;
    color: #000 !important;
    font-size: 0.9rem !important;
    font-weight: 400;
    font-family: "Poppins", sans-serif !important;
    border-radius: 150px !important;
    border-width: 0.12rem !important;
}

.dropdown-item {
    display: flex !important;
    align-items: center !important;
    border-radius: 0 !important;
    gap: 0.5rem;
    padding-left: 1rem !important;
}

.dropdown-item--primeiro {
    font-size: 15px;
    display: flex !important;
    align-items: center !important;
    border-radius: 15px 15px 0px 0px !important;
    gap: 0.5rem;
    padding-top: 0.5rem !important;
}

.dropdown-item--ultimo {
    display: flex !important;
    align-items: center !important;
    border-radius: 0px 0px 15px 15px !important;
    gap: 0.5rem;
    text-decoration: none;
    padding-bottom: 0.5rem !important;
}

.account-icon {
    width: 18px !important;
}

.dropdown-icon {
    font-size: 20px;
}

/* ----- CONTEUDO PRINCIPAL ----- */

.container-titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.botao-adicionar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.secao-evento{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 1.5rem;
    padding: 1.5rem;
    border-radius: 10px;
}

.div-nome{
    background-color: #EBE6EF;
    padding: 1rem;
    border-radius: 8px;
}

.container-informacoes{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.div-info{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.info-icon{
    font-size: 20px;
    color: black;
}

.div-info-location{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
    gap: 0.3rem;
    padding: 0.2rem;
    background-color: #583273;
    border-radius: 6px;
    margin-bottom: 1rem;
}

.location-icon{
    font-size: 13px;
    color: rgb(255, 255, 255);
}

.div-info-location p{
    font-size: 13px;
    color: white;
}

.container-organizador{
    margin-top: -1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem
}