:root{
	--cor-primaria: #6305A5;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	background-color: #F7F7F8 !important;
}

main{
	display: flex;
	flex-direction: column;
	margin: 2rem 13rem 2rem 13em;
	padding: 2rem;
}

/* ------- TEXTOS ------- */
h1{
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: black;
}

.nome-evento{
	font-size: 17px;
	font-weight: 600;
	color: black;
}

.descricao-evento{
	font-size: 15px;
	font-weight: 400;
	color: black;
}

/* ----- BOTAO PRIMARIO ----- */
.botao-primario{
	padding: 0.6rem;
	background-color: var(--cor-primaria);
	color: white;
	border: none;
	border-radius: 50px;
	width: 165px;
	font-weight: 500;
}

.add-icon{
	font-size: 25px;
}

/*--------- Fonte - Poppins --------*/

@font-face {
	font-family: "Poppins";
	src: url("/assets/fonts/Poppins-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("/assets/fonts/Poppins-ThinItalic.ttf") format("truetype");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("/assets/fonts/Poppins-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("/assets/fonts/Poppins-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("/assets/fonts/Poppins-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("/assets/fonts/Poppins-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("/assets/fonts/Poppins-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("/assets/fonts/Poppins-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("/assets/fonts/Poppins-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("/assets/fonts/Poppins-BlackItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("/assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

/* QUICKSAND */

@font-face {
	font-family: "Quicksand";
	src: url("/assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf") format("truetype");
}
